<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="btApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="btApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="btApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="btApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BidTorrent.io</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/ng-notify/dist/ng-notify.min.css">
    <link type="text/css" rel="stylesheet" href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
    <script type="text/javascript">
      window.google.identitytoolkit.signInButton(
        '#navbar-login', // accepts any CSS selector
        {
          widgetUrl: "api/gitkit.php",
          signOutUrl: "/",
          popupMode: true
        }
      );
    </script>
    <script src="vendors/angular/angular.js"></script>
    <script src="vendors/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendors/angular-resource/angular-resource.min.js"></script>
    <script src="vendors/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="vendors/ng-notify/dist/ng-notify.min.js"></script>
    <script src="vendors/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-autohidingnavbar/dist/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <script src="js/controllers/bidder.js"></script>
    <script src="js/controllers/publisher.js"></script>
    <script src="js/controllers/publisher-stats.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BidTorrent.io</a>
                <a class="navbar-brand github" href="https://github.com/BidTorrent/client-js" target="_blank"><i class="fa fa-github"></i></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" ui-sref-active="active" ui-sref="home"><a>Home</a></li>
                    <li role="presentation" ui-sref-active="active" ui-sref="publisher"><a>Publisher</a></li>
                    <li role="presentation" ui-sref-active="active" ui-sref="bidder"><a>Bidder</a></li>
                    <li class="dropdown" ng-if="userConnected">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="loadAccounts()">My accounts <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">My bidders</li>
                        <li ng-repeat="bidder in listBidders"><a ui-sref="bidder({ bidderId: bidder.id })">{{bidder.name}} ({{bidder.id}})</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">My publishers</li>
                        <li ng-repeat="publisher in listPublishers">
                            <div class="row-fluid dropdown-row">
                                <a ui-sref="publisher({ publisherId: publisher.id })"><span class="name">{{publisher.name}}</span> ({{publisher.id}})</a>
                                <a ui-sref="publisher-stats({ publisherId: publisher.id })" class="statsIcon"><i class="fa fa-area-chart"></i></a>
                            </div>
                        </li>
                      </ul>
                    </li>
                    <li role="presentation" id="navbar-login"></li>
                </ul>
            </div>
        </div>
    </div>

    <div ui-view class="full-height"></div>

    <footer class="container footer">
        <span class="text-muted">bidTorrent website: v0.0.1 - <a href="https://github.com/BidTorrent/client-js">Github repository</a></p></span>
    </footer>
</body>
</html>