.bidtorrentPage {
    h1 {
        text-align: center;
        font-size: 72px;
        font-weight: 100;
        margin: 100px 0 100px 0;
    }

    h2 {
        text-align: center;
        font-size: 60px;
        font-weight: 100;
        margin: 40px 0 40px 0;
        i {
            color: lightblue;
        }
    }

    h3 {
        font-size: 30px;
        font-weight: 200;
        margin: 40px 0 40px 0;

        b {
            font-style: normal;
            font-weight: 400;
        }
    }

    h4 {
        color: darkgray;
        font-weight: 700;
    }

    .bidtorrentForm {
        .form-group {
            height: 35px;
            label {
                line-height: 35px;
            }
        }
    }

    .bidderRegisterForm {
        margin-bottom: 200px;
    }

    .mandatorySettings {
        margin-top: 20px;
    }

    code {
        font-size: 16px;
    }

    .mandatory i {
        color: darkred;
        font-size: 11px;
    }

    .optionnal {
        color: orange;
    }

    .validation {
        margin-top: 40px;
    }
}