//Home.less

.home {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .main-title {
        text-align: center;
        margin: 140px 0 160px 0;
        h1 {
            color: white;
            font-size: 72px;
            font-weight: 100;
        }
        .lead {
            margin-top: 30px;
            font-size: 18px;
            color: white;
        }
    }

    .scroll-arrow {
        font-size: 80px;
        color: rgba(255, 255, 255, 0.65);
        text-align: center;
        cursor: pointer;
    }

    .section {
        height: 1000px;
        width: 100%;
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 80px;

        .subtitle {
            text-align: center;

            h2 {
                font-size: 60px;
                font-weight: 100;
            }

            i {
                font-size: 60px;
            }
        }

        p {
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            margin: 20px 0 20px 0;
        }

        img {
            display: block;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0px 0px 20px #888888;
        }
    }

    @mainsectionheight: 1000px;

    .mainsection {
        //copyright nicolas turlais, http://insipi.de
        background-image: url("../images/bg.jpg");
        background-repeat: none;
        background-size: cover;
        width: 100%;
        height: @mainsectionheight;
        position: fixed;
        z-index: -1;
    }

    .transparency {
        margin-top: @mainsectionheight;
        background-color: rgb(242, 242, 248);
        .scroll-arrow {
            color: rgba(0, 0, 0, 0.65);
        }
    }

    .intermediaries {
        background-color: lightblue;
        color: white;
        .subtitle {
            font-weight: 400;
        }
    }

    .control {
        background-image: linear-gradient(rgb(4, 27, 74) 0px, rgb(0, 136, 203) 100%);
        color: white;
        .subtitle {
            font-weight: 400;
        }
    }

    .plugAndPlay {
        background-color: white;
        .scroll-arrow {
            color: rgba(0, 0, 0, 0.65);
        }
    }
}