//Home.less

.home {
    .main-title {
        text-align: center;
        margin: 200px 0 200px 0;
        h1 {
            font-size: 72px;
            font-weight: 100;
        }
        .lead {
            margin-top: 30px;
            font-size: 18px;
            color: gray;
        }
    }

    .choose-user {
    }
}