//Common.less

@sticky-footer-height: 20px;

html {
    position: relative;
    min-height: 100%; //needed for the sticky footer
}

body {
    margin-bottom: @sticky-footer-height; //needed for the sticky footer
    margin-top: 10px;

    .main-container {
        margin-bottom: @sticky-footer-height + 20px;
    }
}

.footer {
    /* Sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @sticky-footer-height;
    background-color: #f5f5f5;
    /* footer style */
    text-align: center;
}