<div class="home">
    <div class="mainsection section">
        <div class="container">
            <div class="row main-title">
                <h1>Host a RTB in your browser</h1>
                <p class="lead">BidTorrent is a browser-hosted RTB allowing you to cut third party fees and have full control on the
                bid process</p>
            </div>
            <div class="row choose-user">
                <div class="col-sm-6">
                    <a class="col-md-offset-4 col-sm-4 btn btn-lg btn-success " ui-sref="publisher" role="button">I'm a publisher</a>
                </div>
                <div class="col-sm-6">
                    <a class="col-md-offset-4 col-sm-4 btn btn-lg btn-success" ui-sref="bidder" role="button">I'm a bidder</a>
                </div>
            </div>
        </div>
    </div>

    <div class="transparency section">
        <div class="container">
            <div class="row subtitle">
                <h2>Full transparency</h2>
                <i class="fa fa-diamond"></i>
            </div>
            <div class="row">
                <p>The entire BidTorrent protocol is public and the auction client is open source.</p>
            </div>
        </div>
    </div>

    <div class="intermediaries section">
        <div class="container">
            <div class="row subtitle">
                <h2>Less intermediaries</h2>
                <i class="fa fa-arrows-h"></i>
            </div>
            <div class="row">
                <p>Call directly the bidders, run the ads auction client side avoiding RTB fees.</p>
            </div>
        </div>
    </div>

    <div class="control section">
        <div class="container">
            <div class="row subtitle">
                <h2>Full control</h2>
                <i class="fa fa-cog"></i>
            </div>
            <div class="row">
                <p>As a bidder or publisher, easily create your own configuration on BidTorrent.io. We can even host it for you.</p>
            </div>
        </div>
    </div>

    <div class="plugAndPlay section">
        <div class="container">
            <div class="row subtitle">
                <h2>Plug & Play</h2>
                <i class="fa fa-plug"></i>
            </div>

            <div class="row">
                <p>Easy to integrate! As publisher just plug our script directly to your page.</p>
                <img src="assets/images/includescript.PNG" alt="includescript">
                <p>Create your configuration on our website, and specify it to the script.</p>
            </div>
        </div>
    </div>
</div>