<div class="home">
    <div class="main-title">
        <h1>Host a RTB in your browser</h1>
        <p class="lead">BidTorrent is a browser-hosted RTB allowing you to cut third party fees and have full control on the
        bid process</p>
    </div>
    <div class="row choose-user">
        <div class="col-sm-6">
            <a class="col-md-offset-4 col-sm-4 btn btn-lg btn-success " ui-sref="publisher" role="button">I'm a publisher</a>
        </div>
        <div class="col-sm-6">
            <a class="col-md-offset-4 col-sm-4 btn btn-lg btn-success" ui-sref="bidder" role="button">I'm a bidder</a>
        </div>
    </div>
</div>