<div class="home" id="section0">
    <div class="mainsection section">
        <div class="container">
            <div class="row main-title">
                <h1>Host a RTB in your browser</h1>
                <p class="lead">BidTorrent is a browser-hosted RTB allowing you to cut third party fees and have full control on the
                bid process</p>
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <div class="container">
            <div class="row">
                <a class="col-xs-offset-2 col-xs-3 btn btn-lg btn-success" ui-sref="publisher" role="button">I'm a publisher</a>
                <div class="scroll-arrow col-xs-2">
                    <i scroll-to="section2" duration="1000" stopOnUserScroll="true" class="fa fa-chevron-circle-down"></i>
                </div>
                <a class="col-xs-3 btn btn-lg btn-success" ui-sref="bidder" role="button">I'm a bidder</a>
            </div>
        </div>
    </div>

    <div class="transparency section" id="section2">
        <div class="container"> 
            <div class="row subtitle">
                <h2>Full transparency</h2>
                <i class="fa fa-diamond"></i>
            </div>
            <div class="row">
                <p>The BidTorrent protocol is public and its configuration is based on <a href="https://github.com/openrtb/OpenRTB">OpenRTB Specifications</a>.The auction client can be found on github, it is fully open source so don't hesitate to <a href="https://github.com/BidTorrent/client-js">fork it on github</a>!</p>
            </div>
            <div class="row scroll-arrow">
                <i scroll-to="section3" duration="1000" stopOnUserScroll="true" class="fa fa-chevron-circle-down"></i>
            </div>
        </div>
    </div>

    <div class="intermediaries section" id="section3">
        <div class="container">
            <div class="row subtitle">
                <h2>Less intermediaries</h2>
                <i class="fa fa-arrows-h"></i>
            </div>
            <div class="row">
                <p>Bidtorrent will allow you to call directly the bidders, run the ads auction client side and doing so, avoid RTB fees.</p>
            </div>
            <div class="row scroll-arrow">
                <i scroll-to="section4" duration="1000" stopOnUserScroll="true" class="fa fa-chevron-circle-down"></i>
            </div>
        </div>
    </div>

    <div class="control section" id="section4">
        <div class="container">
            <div class="row subtitle">
                <h2>Full control</h2>
                <i class="fa fa-cog"></i>
            </div>
            <div class="row">
                <p>As a publisher, you can easily create your own configuration on BidTorrent.io. BidTorrent gives you full control on the way you want to handle the auction and provide you the classic RTB features.</p>
                <img src="assets/images/configurable.PNG" alt="includescript">
            </div>
            <div class="row scroll-arrow">
                <i scroll-to="section5" duration="1000" stopOnUserScroll="true" class="fa fa-chevron-circle-down"></i>
            </div>
        </div>
    </div>

    <div class="plugAndPlay section" id="section5">
        <div class="container">
            <div class="row subtitle">
                <h2>Plug & Play</h2>
                <i class="fa fa-plug"></i>
            </div>

            <div class="row">
                <p>Child's play to integrate! Just plug BidTorrent script directly to your page.</p>
                <img src="assets/images/includescript.PNG" alt="includescript">
                <p>By creating your configuration on our website only one javascript line is required to be live!</p>
            </div>

            <div class="row scroll-arrow">
                <i scroll-to="section0" duration="1000" stopOnUserScroll="true" class="fa fa-chevron-circle-up"></i>
            </div>
        </div>
    </div>
</div>