<div class="bidtorrentPage">
    <h1>Publishers</h1>

    <h2><span class="title">Register as a Publisher</span> <i class="fa fa-space-shuttle"></i></h2>
    <form class="bidtorrentForm bidderRegisterForm">
        <div class="form-group row">
            <label for="bidderName" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="bidderName" placeholder="ex: Criteo" ng-model="registerForm.name">
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-md btn-success col-md-offset-4 col-md-4" ng-click="submitRegistration()">
                Register me
            </button>
        </div>
    </form>
</div>