<div class="bidtorrentPage container">
    <h1>Publishers</h1>

    <h2><span class="title">Register as a Publisher</span> <i class="fa fa-space-shuttle"></i></h2>
    <form class="bidtorrentForm bidderRegisterForm">
        <div class="form-group row">
            <label for="bidderName" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="bidderName" placeholder="ex: Criteo" ng-model="registerForm.name">
            </div>
        </div>
        <div class="form-group row validation">
            <button type="submit" class="btn btn-md btn-success col-md-offset-4 col-md-4" ng-click="submitRegistration()">
                Register me
            </button>
        </div>
    </form>

    <h2><span class="title">Setup your static configuration</span> <i class="fa fa-sliders"></i></h2>
    <div class="row">
        <form class="col-md-6">
            <h3>Global info</h3>
            <div class="form-group" ng-class="[{'has-error' : !staticConfigForm.currency}]">
                <label for="pubCurrency" class="control-label mandatory">Currency (ISO 4217) <i class="fa fa-asterisk"></i></label>
                <input type="text" class="form-control" id="pubCurrency" placeholder="ex: EUR" ng-model="staticConfigForm.currency">
            </div>
            <div class="form-group">
                <label for="pubCountry" class="control-label">Country (ISO 3166-2)</label>
                <input type="text" class="form-control" id="pubCountry" placeholder="ex: FR" ng-model="staticConfigForm.country">
            </div>
            <div class="form-group" ng-class="[{'has-error' : staticConfigForm.timeout && !isStrictPositiveInt(staticConfigForm.timeout)}]">
                <label for="pubTimeout" class="control-label">Timeout (in ms)</label>
                <input type="text" class="form-control" id="pubTimeout" placeholder="ex: 500" ng-model="staticConfigForm.timeout">
            </div>
            <div class="form-group row" ng-class="[{'has-error' : !staticConfigForm.type}]">
                <label class="control-label col-md-2 mandatory">Type <i class="fa fa-asterisk"></i> </label>
                <div class="col-md-2"><input type="radio" name="type" value="inapp" ng-model="staticConfigForm.type"> In App</div>
                <div class="col-md-3"><input type="radio" name="type" value="website" ng-model="staticConfigForm.type"> Website</div>
            </div>
        </form>
        <form class="col-md-6">
            <h3>Blacklisting</h3>
            <div class="form-group">
                <label for="pubBlacklistedDomains" class="control-label">Domains</label>
                <input type="text" class="form-control" id="pubBlacklistedDomains" placeholder="ex: advertiser1.com;blog.avd2.fr" ng-model="staticConfigForm.blacklistedDomains">
            </div>
            <div class="form-group">
                <label for="pubBlacklistedCategories" class="control-label">IAB Categories</label>
                <input type="text" class="form-control" id="pubBlacklistedCategories" placeholder="ex: IAB25-3;IAB26" ng-model="staticConfigForm.blacklistedCategories">
            </div>
            <div class="form-group row">
                <label for="impSecured" class="control-label col-md-3">Secured </label>
                <div class="col-md-5"><input type="radio" name="type" value="true" ng-model="staticConfigForm.secured"> My website support https</div>
                <div class="col-md-4"><input type="radio" name="type" value="false" ng-model="staticConfigForm.secured"> I only want http ads</div>
            </div>
        </form>
    </div>

    <div class="row validation">
        <button type="submit" class="btn btn-md btn-success col-md-offset-4 col-md-4"
                ng-click="downloadConfig()" ng-disabled="!(staticConfigForm.type && staticConfigForm.currency)">Download config</button>
        <a id="downloadFile" style="display:none"></a>
    </div>

    <h2><span class="title">Create the bidding script configuration</span> <i class="fa fa-code"></i></h2>

    <div>
        <h3>First create your configuration</h3>
        <form class="row">
            <div class="form-group col-md-12">
                <label for="auction" class="control-label">Path to self-hosted auction.html</label>
                <input type="text" class="form-control" id="auction" placeholder="ex: ../src/auction.html" ng-model="dynConfigForm.auction">
            </div>
            <div class="form-group col-md-12">
                <label for="bidders" class="control-label">Path to self-hosted bidders.json</label>
                <input type="text" class="form-control" id="bidders" placeholder="ex: ../src/bidders.json" ng-model="dynConfigForm.bidders">
            </div>
            <div class="form-group col-md-12">
                <label for="config" class="control-label">Path to self-hosted config.json</label>
                <input type="text" class="form-control" id="config" placeholder="ex: ../src/config.json" ng-model="dynConfigForm.config">
            </div>
        </form>
        <form class="row">
            <div class="form-group col-md-3">
                <label class="control-label">Element DOM id</label>
            </div>
            <div class="form-group col-md-3" ng-class="[{'has-error' : slot.width && !isStrictPositiveInt(slot.width)}]">
                <label class="control-label">Width</label>
            </div>
            <div class="form-group col-md-3" ng-class="[{'has-error' : slot.height && !isStrictPositiveInt(slot.height)}]">
                <label class="control-label">Height</label>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Floor</label>
            </div>
        </form>
        <form class="row" ng-repeat="(key, slot) in dynConfigForm.slots">
            <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="ex: desktop_ad_top" ng-model="slot.element">
            </div>
            <div class="form-group col-md-3" ng-class="[{'has-error' : slot.width && !isStrictPositiveInt(slot.width)}]">
                <input type="text" class="form-control" placeholder="ex: 200" ng-model="slot.width">
            </div>
            <div class="form-group col-md-3" ng-class="[{'has-error' : slot.height && !isStrictPositiveInt(slot.height)}]">
                <input type="text" class="form-control" placeholder="ex: 600" ng-model="slot.height">
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" placeholder="ex: 1.2" ng-model="slot.floor">
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="form-control btn btn-md btn-danger col-md-4" ng-click="dynConfigForm.slots.splice(key, 1)"><i class="fa fa-minus"></i></button>
            </div>
        </form>
        <form class="row">
            <div class="form-group col-md-12">
               <button type="submit" class="btn btn-md btn-success col-md-2"
                ng-click="dynConfigForm.slots.push({ element: null, width: null, height: null, floor: null })"><i class="fa fa-plus"></i> Add slot</button>
            </div>
        </form>
        <h3>Then simply include the BidTorrent client script and its dynamic configuration to your webpage</h3>
        <code>
&lt;script src=&quot;http://bidtorrent.io/client.js&quot;&gt;&lt;/script&gt;<br/>
&lt;script type=&quot;text/javascript&quot;&gt;<br/>
&nbsp;&nbsp;bidTorrent({<br/>
<span ng-if="dynConfigForm.auction">&nbsp;&nbsp;&nbsp;&nbsp;auction:&nbsp;&nbsp;    &#39;{{dynConfigForm.auction}}&#39;, //Optionnal if you want to host your own<br/></span>
<span ng-if="dynConfigForm.bidders">&nbsp;&nbsp;&nbsp;&nbsp;bidders:&nbsp;&nbsp;    &#39;{{dynConfigForm.bidders}}&#39;, //Optionnal if you want to host your own<br/></span>
<span ng-if="dynConfigForm.config">&nbsp;&nbsp;&nbsp;&nbsp;config:&nbsp;&nbsp;     &#39;{{dynConfigForm.config}}&#39;, //Optionnal if you want to host your own<br/></span>
&nbsp;&nbsp;&nbsp;&nbsp;slots:&nbsp;&nbsp;[ //List of ad slots by Id<br/>
<span ng-repeat="slot in dynConfigForm.slots">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ element: &#39;{{slot.element}}&#39;<span ng-if="slot.width">, width: {{slot.width}}</span><span ng-if="slot.height">, height: {{slot.height}}</span><span ng-if="slot.floor">, floor: {{slot.floor}}</span> },<br/>
</span>
&nbsp;&nbsp;&nbsp;&nbsp;]<br/>
&nbsp;&nbsp;});<br/>
&lt;/script&gt;
        </code>
        <p>For more informations see our <a href="https://github.com/BidTorrent/client-js">Github repository</a></p>
    </div>
</div>