<div class="bidtorrentPage container">
    <h1>Publishers</h1>

    <h2>What type of integration do you need?</h2>

    <div class="row chooseType">
        <div class="col-xs-offset-2 col-xs-8">
            <button class="btn btn-lg btn-primary choose-type-btn col-xs-5"
                    ng-class="{active: staticConfigForm.isTypeWebsite}"
                    ng-click="staticConfigForm.isTypeWebsite=true">Website</button>
            <div class="col-xs-2 iconContainer">
                <i class="fa fa-file-code-o" ng-if="staticConfigForm.isTypeWebsite"></i>
                <i class="fa fa-mobile" ng-if="!staticConfigForm.isTypeWebsite"></i>
            </div>
            <button class="btn btn-lg btn-primary choose-type-btn col-xs-5"
                    ng-class="{active : !staticConfigForm.isTypeWebsite}"
                    ng-click="staticConfigForm.isTypeWebsite=false">In App</button>
        </div>
    </div>

    <h2>Register as a Publisher <i class="fa fa-space-shuttle"></i></h2>
    <form class="bidtorrentForm bidderRegisterForm">
        <div class="form-group row">
            <label for="bidderName" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="bidderName" placeholder="ex: Criteo" ng-model="registerForm.name">
            </div>
        </div>
        <div class="form-group row validation">
            <button type="submit" class="btn btn-md btn-success col-xs-offset-4 col-xs-4" ng-click="submitRegistration()">
                Register me
            </button>
        </div>
    </form>

    <h2>Setup your static configuration <i class="fa fa-sliders"></i></h2>

    <div class="formSection well">
        <h4>Global info</h4>
        <form class="row">
            <div class="form-group col-md-6">
                <label for="pubCountry" class="control-label">Country (ISO 3166-2)</label>
                <input type="text" class="form-control" id="pubCountry" placeholder="ex: FR" ng-model="staticConfigForm.country">
            </div>
            <div class="form-group col-md-6" ng-class="[{'has-error' : staticConfigForm.timeout && !isStrictPositiveInt(staticConfigForm.timeout)}]">
                <label for="pubTimeout" class="control-label">Timeout (in ms)</label>
                <input type="text" class="form-control" id="pubTimeout" placeholder="ex: 500" ng-model="staticConfigForm.timeout">
            </div>
        </form>
    </div>

    <div class="formSection well">
        <h4>Blacklisting</h4>
        <form class="row">
            <div class="col-md-6" ng-repeat="filter in [staticConfigForm.domainFilter, staticConfigForm.categoryFilter]">
                <label class="control-label">
                    <span ng-if="filter.mode">Whitelisted</span>
                    <span ng-if="!filter.mode">Blacklisted</span>
                    {{filter.title}}
                </label>
                <div class="form-group row" ng-repeat="value in filter.value track by $index">
                    <div class="col-xs-10">
                        <input type="text" class="form-control"
                               placeholder="ex: {{filter.placeholder}}"
                               ng-model="filter.value[$index]">
                    </div>
                    <div class="col-xs-2">
                        <button type="submit" class="form-control btn btn-md btn-danger"
                                ng-click="filter.value.splice($index, 1)"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="form-control btn btn-md btn-success"
                                ng-click="filter.value.push('')"><i class="fa fa-plus"></i> Add filter</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="form-control btn btn-md"
                                ng-class="filter.mode ? 'btn-primary' : 'btn-default'"
                                ng-click="filter.mode = !filter.mode">
                                <span ng-if="filter.mode"><i class="fa fa-exchange"></i> Use blacklist mode</span>
                                <span ng-if="!filter.mode"><i class="fa fa-exchange"></i> Use whitelist mode</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 securedRow">
                <label for="impSecured" class="control-label">Secured </label>
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                            <button type="button" class="btn btn-default" ng-class="{'active' : !staticConfigForm.secured}" ng-click="staticConfigForm.secured=true"> My website support both http &amp; https</button>
                            <button type="button" class="btn btn-default" ng-class="{'active' : staticConfigForm.secured}" ng-click="staticConfigForm.secured=false"> I only want https ads</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- MANDATORY SETTINGS -->
    <div class="formSection well">
        <h4>Imp Settings</h4>

        <form class="row">
            <div class="form-group col-xs-3">
                <label class="control-label">Element DOM id</label>
            </div>
            <div class="form-group col-xs-3" ng-class="{'has-error' : imp.width && !isStrictPositiveInt(imp.width)}">
                <label class="control-label">Width</label>
            </div>
            <div class="form-group col-xs-3" ng-class="{'has-error' : imp.height && !isStrictPositiveInt(imp.height)}">
                <label class="control-label">Height</label>
            </div>
            <div class="form-group col-xs-3">
                <label class="control-label">Floor</label>
            </div>
        </form>
        <form class="row" ng-repeat="imp in staticConfigForm.imp track by $index">
            <div class="form-group col-xs-3">
                <input type="text" class="form-control" placeholder="ex: desktop_ad_top" ng-model="imp.html_id">
            </div>
            <div class="form-group col-xs-3" ng-class="[{'has-error' : imp.width && !isStrictPositiveInt(imp.width)}]">
                <input type="text" class="form-control" placeholder="ex: 200" ng-model="imp.width">
            </div>
            <div class="form-group col-xs-3" ng-class="[{'has-error' : imp.height && !isStrictPositiveInt(imp.height)}]">
                <input type="text" class="form-control" placeholder="ex: 600" ng-model="imp.height">
            </div>
            <div class="form-group col-xs-2">
                <input type="text" class="form-control" placeholder="ex: 1.2" ng-model="imp.floor">
            </div>
            <div class="form-group col-xs-1">
                <button type="submit" class="form-control btn btn-md btn-danger col-md-4" ng-click="staticConfigForm.imp.splice($index, 1)"><i class="fa fa-minus"></i></button>
            </div>
        </form>
        <form class="row">
            <div class="form-group col-md-12">
               <button type="submit" class="btn btn-md btn-success col-md-2"
                ng-click="staticConfigForm.imp.push({ html_id: null, width: null, height: null, floor: null })"><i class="fa fa-plus"></i> Add imp</button>
            </div>
        </form>
    </div>
    <!-- END MANDATORY SETTINGS-->


    <!-- ADVANCED SETTINGS -->
    <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#advancedSettings" aria-expanded="false" aria-controls="advancedSettings">
            <i class="fa fa-star"></i> Advanced settings : host part of the configuration files
        </button>

        <div class="collapse"id="advancedSettings" >
            <div class="well">
                <h4>Advanced Settings</h4>

                <form class="row">
                    <!-- AUCTION.HTML -->
                    <div class="form-group col-md-3">
                        <label for="auction" class="control-label">&nbsp;</label>
                        <button class="btn btn-block" ng-click="hostAuction=!hostAuction"
                                ng-class="hostAuction ? 'btn-success' : 'btn-warning'">
                            <span ng-if="!hostAuction">I want to host my own auction.html</span>
                            <span ng-if="hostAuction">Use BidTorrent.io auction.html</span>
                        </button>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="auction" class="control-label">
                            <span class="optionnal">(Opt)</span> - Path to your auction.html file <i>(will fallback to the BidTorrent.io auction.html)</i>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="auction"
                                   placeholder="ex: ../src/auction.html"
                                   ng-model="dynConfigForm.auction" ng-disabled="!hostAuction">
                            <span class="input-group-btn">
                                <button type="submit" class="form-control btn btn-md btn-success" ng-click="" ng-disabled="!hostAuction">Download auction.html</button>
                            </span>
                        </div>
                    </div>

                    <!-- BIDDERS.JSON -->
                    <div class="form-group col-md-3">
                        <label for="bidders" class="control-label">&nbsp;</label>
                        <button class="btn btn-primary btn-block" ng-click="hostBidders=!hostBidders"
                                ng-class="hostBidders ? 'btn-success' : 'btn-warning'">
                            <span ng-if="!hostBidders">I want to host my own bidders.json</span>
                            <span ng-if="hostBidders">Use BidTorrent.io bidders.json</span>
                        </button>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="bidders" class="control-label">
                            <span class="optionnal">(Opt)</span> - Path to your bidders.json file <i>(will fallback to the BidTorrent.io bidders.json)</i>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="bidders"
                                   placeholder="ex: ../src/bidders.json"
                                   ng-model="dynConfigForm.bidders" ng-disabled="!hostBidders">
                            <span class="input-group-btn">
                                <button type="submit" class="form-control btn btn-md btn-success" ng-click="" ng-disabled="!hostBidders">Download bidders.json</button>
                            </span>
                        </div>
                    </div>

                    <!-- CONFIG.JSON -->
                    <div class="form-group col-md-3">
                        <label for="config" class="control-label">&nbsp;</label>
                        <button class="btn btn-primary btn-block" ng-click="hostConfig=!hostConfig"
                                ng-class="hostConfig ? 'btn-success' : 'btn-warning'">
                            <span ng-if="!hostConfig">I want to host my own config.json</span>
                            <span ng-if="hostConfig">Use BidTorrent.io config.json</span>
                        </button>     
                    </div>
                    <div class="form-group col-md-9">
                        <label for="config" class="control-label">
                            <span class="optionnal">(Opt)</span> - Path to your static hosted config.json <i>(will fallback to your config hosted in BidTorrent.io <u class="optionnal">if you have an account</u>)</i>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="config"
                                   placeholder="ex: ../src/config.json"
                                   ng-model="dynConfigForm.config" ng-disabled="!hostConfig">
                            <span class="input-group-btn">
                                <button type="submit" class="form-control btn btn-md btn-success" ng-click="" ng-disabled="!hostConfig">Download config.json</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END ADVANCED SETTINGS -->

    <div class="row validation">
        <button class="btn btn-md btn-primary col-md-offset-2 col-md-3 col-xs-5"
                ng-click="scrollToScript()"><i class="fa fa-code"></i> Use a static configuration</button>
        <a id="downloadFile" style="display:none"></a>
        <span class="col-md-2 col-xs-2 or">or</span>
        <button class="btn btn-md btn-success col-md-3 col-xs-5"
                data-toggle="modal" data-target="#loginModal"><i class="fa fa-floppy-o"></i> Save config on BidTorrent.io</button>
    </div>
    
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Domain name</label>
                            <input type="text" class="form-control" id="pubBlacklistedCategories" placeholder="ex: www.criteo.com" ng-model="registerForm.name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveConfig()">Save config</button>
                </div>
            </div>
        </div>
    </div>


    <h2 id="generatedScript">Include the bidding script <i class="fa fa-code"></i></h2>

    <div class="row">
        <h3>Include the BidTorrent client script and its dynamic configuration to your webpage</h3>
        <div class="row">
            <code class="col-xs-12 col-md-8 col-md-offset-2">
&lt;script src=&quot;http://bidtorrent.io/client.js&quot;&gt;&lt;/script&gt;<br/>
&lt;script type=&quot;text/javascript&quot;&gt;<br/>
&nbsp;&nbsp;bidTorrent({<br/>
<span ng-if="hostAuction">&nbsp;&nbsp;&nbsp;&nbsp; auction: &#39;{{dynConfigForm.auction}}&#39;, //Optionnal if you want to host your own<br/></span>
<span ng-if="hostBidders">&nbsp;&nbsp;&nbsp;&nbsp; bidders: &#39;{{dynConfigForm.bidders}}&#39;, //Optionnal if you want to host your own<br/></span>
<span ng-if="hostConfig">&nbsp;&nbsp;&nbsp;&nbsp; config: &#39;{{dynConfigForm.config}}&#39;, //Optionnal if you want to host your own<br/></span>
<!-- site -->
<span ng-if="staticConfigForm.country">
&nbsp;&nbsp;&nbsp;&nbsp; site: {<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; publisher: { country: {{staticConfigForm.country}} }<br/>
&nbsp;&nbsp;&nbsp;&nbsp; },<br/>
</span>

<!-- back/white listed domains -->
<span ng-if="isVirtuallyEmpty(staticConfigForm.domainFilter.value)">
&nbsp;&nbsp;&nbsp;&nbsp;
<span ng-if="!staticConfigForm.domainFilter.mode">badv: [ //List of backlisted domains</span>
<span ng-if="staticConfigForm.domainFilter.mode">wadv: [ //List of whitelisted domains</span><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ng-repeat="domain in staticConfigForm.domainFilter.value track by $index">
<span ng-if="domain">&#39;{{domain}}&#39;, </span>
</span><br/>
&nbsp;&nbsp;&nbsp;&nbsp; ],<br/>
</span>

<!-- back/white listed categories -->
<span ng-if="isVirtuallyEmpty(staticConfigForm.categoryFilter.value)">
&nbsp;&nbsp;&nbsp;&nbsp;
<span ng-if="!staticConfigForm.categoryFilter.mode">bcat: [ //List of backlisted IAB categories</span>
<span ng-if="staticConfigForm.categoryFilter.mode">wcat: [ //List of whitelisted IAB categories</span><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ng-repeat="cat in staticConfigForm.categoryFilter.value track by $index">
<span ng-if="cat">&#39;{{cat}}&#39;, </span>
</span><br/>
&nbsp;&nbsp;&nbsp;&nbsp; ],<br/>
</span>

<!-- imp -->
&nbsp;&nbsp;&nbsp;&nbsp; imp: [ //List of ad imps by Id<br/>
<span ng-repeat="value in staticConfigForm.imp">
    <span ng-if="value.html_id !== null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; { banner: { id: &#39;{{value.html_id}}&#39;<span ng-if="value.width">, w: {{value.width}}</span><span ng-if="value.height">, h: {{value.height}}</span> }<span ng-if="value.floor">, bidfloor: {{value.floor}}</span><span ng-if="staticConfigForm.secured !== null">, secure: {{staticConfigForm.secured}}</span> },</span><br>
</span>
&nbsp;&nbsp;&nbsp;&nbsp; ],<br/>

<!-- tmax -->
<span ng-if="staticConfigForm.timeout">
&nbsp;&nbsp;&nbsp;&nbsp; tmax: {{staticConfigForm.timeout}}<br/>
</span>
&nbsp;&nbsp;});<br/>
&lt;/script&gt;
            </code>
        </div>
        <p>For more informations see our <a href="https://github.com/BidTorrent/client-js">Github repository</a></p>
    </div>
</div>