DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /api/
	RewriteRule ^$ index.php [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule mod_php5.c>
	php_flag display_errors Off
</IfModule>

<IfModule mod_headers.c>
	SetEnvIf Origin "^(https?://.+)$" AccessControlAllowOrigin=$1
	Header add Access-Control-Allow-Credentials "true"
	Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
	Header add Access-Control-Allow-Methods "POST, GET, OPTIONS"
</IfModule>
